* {
  margin: 0px;
  padding: 0px;
}
/* header start from here*/
.banner {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 50px 140px;
  border-radius: 16px;
  background: linear-gradient(#070211 0%, rgba(7, 2, 17, 0) 100%);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  height: 500px;
  width: 1056px;
}

.heading {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px;
}
/* header end here */

/* discount start from here*/
.discount {
  height: 750px;
  width: 700px;
  display: block;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  background: #fff;
}
.discount h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 80px;
  font-weight: 700;
  padding: 30px 0px;
}
.discount .liness {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
.discount .okay {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  word-spacing: 10px;
  letter-spacing: 5px;
  font-weight: 700;
  padding-bottom: 30px;
}
.discount img {
  height: 500px;
  width: 680px;
  padding: 10px 10px 10px 10px;
} /* discount End here */

/* banner2 start from here */
.banner2 {
  height: 500px;
  width: 1056px;
  display: block;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}
.banner2 h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 7.04px;
  width: 450px;
}
.banner2 p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.banner2 strong {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  padding-left: 30px;
}
.banner2 {
  position: relative;
}
.banner2 .contentss {
  position: absolute;
  top: 100px;
  left: 120px;
}
.banner2 .newimg img {
  height: 350px;
  width: 260px;
  position: absolute;
  right: 100px;
  bottom: 60px;
}
/* banner2 end here */

/* address start form here */
.address {
  width: 1056px;
  height: 400px;
  background: rgba(255, 0, 0, 0.05);
  display: block;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}
.address .same span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.address .same {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.address .adresss {
  padding-top: 110px;
}
/* address end here */

/* moffer start from here */
.moffer {
  height: 470px;
  width: 1056px;
  background: #fff;
  display: block;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  position: relative;
}
.circle {
  height: 300px;
  width: 300px;
  border: red 10px solid;
  border-radius: 150px;
  position: absolute;
  top: 40px;
  left: 380px;
}
.circle img {
  height: 250px;
  width: 250px;
  display: block;
  margin: auto;
  margin-top: 25px;
}
.offer {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}
.left h3 {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding: 20px;
}
.left h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-left: 20px;
  padding-bottom: 20px;
}
.left p {
  padding-left: 20px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  line-height: px;
  width: 300px;
}
.right h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 10px;
}
.right p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 300px;
}
.right img {
  height: 180px;
  width: 180px;
  padding-top: 50px;
}
/* offer section end here */

/* discountfive start here */
.discountfive .func {
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 30px;
}
.discountfive .tion {
  text-align: center;
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-top: 20px;
}
.discountfive .tion span {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.discountfive .dayss {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding: 30px 89px;
}
.discountfive .line {
  height: 180px;
}
.discountfive .wow {
  height: 429px;
  width: 433px;
}
.discountfive {
  height: 920px;
  width: 1056px;
  background: #fff;
  display: block;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  position: relative;
}
.discountfive .discount {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 370px;
  right: 300px;
}
.discountfive .box {
  height: 429px;
  width: 550px;
  position: absolute;
  top: 480px;
  left: 60px;
}
/* discountfive end here */

/* awesome start from here */
.awesome {
  height: 920px;
  width: 1056px;
  background: #fff;
  display: block;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}
.awesome .gift {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.awesome .port {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 2000;
  margin-bottom: 30px;
}
.awesome .desp {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
}
.imgsec img {
  height: 330px;
  width: 329px;
  padding: 10px;
}
.imgsec {
  display: flexbox;
}
/* awesome ends here */

/* subscribe are start here */
.subscribe {
  height: 600px;
  width: 1056px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  display: block;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  padding-top: 150px;
}
.subscribe img {
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
}
.subscribe .news {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.subscribe p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-left: 80px;
  padding-right: 30px;
}
.subscribe .email {
  width: 648px;
  height: 72px;
  padding: 0px 0px 0px 20px;
  font-size: 18px;
  border-radius: 50px;
  background: #fff;
  position: relative;
}
.subscribe .btn {
  width: 210px;
  height: 75px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  position: absolute;
  right: 20%;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}
.input {
  display: ;
  margin: 50px 0px 0px 200px;
}
/* subscribe sec ends here */

/*  footer start from here */
footer {
  background: #070211;
}
.contacts {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 25px 0px;
}
.add {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  width: 375px;
  height: 80px;
}
.icons {
  color: #fff;
  display: flex;
  margin: 30px 0px 30px 420px;
}
.icon {
  height: 50px;
  width: 50px;
  padding: 0px 10px;
}
.num h3 {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  width: 195px;
  height: 40px;
  padding-right: 20px;
}
.reserved {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  margin: 30px 0px 100px 0px;
}
.bottom {
  height: 400px;
  width: 1056px;
  display: block;
  margin: auto;
}
/* footer end here */
